/.git*            export-ignore
/.php-cs-fixer.*  export-ignore
/.travis.yml      export-ignore
/CHANGELOG.md     export-ignore
/docs/            export-ignore
/phpunit.xml.dist export-ignore
/LICENSE          export-ignore
/README.md        export-ignore
/tests/           export-ignore
