language: php

php:
    - 7.1
    - 7.2
    - 7.3
    - nightly

matrix:
    fast_finish: true
    include:
        - php: 7.1
          env: COMPOSER_FLAGS="--prefer-lowest"
        - php: 7.2
          env: SYMFONY_VERSION=3.4.*
        - php: 7.3
          env: SYMFONY_VERSION=4.2.*
    allow_failures:
        - php: nightly

cache:
    directories:
        - $HOME/.composer/cache
        - COMPOSER_FLAGS="--prefer-dist"

before_install:
    - composer self-update
    - if [ "$SYMFONY_VERSION" != "" ]; then composer require "symfony/symfony:${SYMFONY_VERSION}" --no-update; fi;

install: composer update --no-interaction $COMPOSER_FLAGS

script:
    - vendor/bin/phpunit
